# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
my-env/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Data files (optional – if large datasets)
*.csv
*.xlsx

